.smallAddBox {
    width: 190px;
    height: 190px;
    border: black 7.5px solid;
    border-radius: 22.5px;
    padding: 10px 10px;
    display: flex;
    align-items: center;
}

.addIcon {
    width: 120px;
    height: 120px;
    margin: auto;
}
