.bigWeatherBox {
    width: 380px;
    height: 380px;
}

.topRowBig {
    height: 30px;
    display: flex;
    align-items: center;
}

.middleRowBig {
    height: 100px;
    display: flex;
    align-items: center;
    margin: 10px auto;
}

.geolocationIconBig {
    width: 40px;
    height: 30px;
}

.locationBig {
    width: 340px;
    height: 30px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    white-space: nowrap;
    overflow: hidden;
}

.timeBig {
    width: 380px;
    height: 30px;
    margin-top: 10px;
    line-height: 30px;
}

.conditionsIconBig {
    width: 100px;
    height: 100px;
}

.temperatureBig {
    width: 280px;
    height: 100px;
    display: inline-block;
    font-size: 96px;
    font-weight: bold;
    text-align: center;
    line-height: 100px;
}

.conditionsRowBig {
    width: 380px;
    height: 30px;
    margin-bottom: 10px;
}

.windBig, .precipitationBig, .dayTemperatureBig {
    width: 190px;
    height: 30px;
    display: inline-block;
    text-align: left;
    font-size: 20px;
    line-height: 30px;
}

.forecastRowBig {
    width: 380px;
    height: 70px;
    margin: 10px auto;
    display: flex;
}

.hidden {
    visibility: hidden;
}

.deleteIconBig {
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.scroll{
    display: inline-block;
    animation: move 10s ease-in-out infinite;
    position: relative;
}
@keyframes move {
    25% { transform: translate(0, 0); left: 0%; }
    75%, 100% { transform: translate(-100%, 0); left: 100%; }
}