.searchBox {
    width: 380px;
    height: 380px;
    border: black 7.5px solid;
    border-radius: 22.5px;
    padding: 20px;
    background-color: white;
    z-index: 100;
    position: fixed;
}

#searchInput {
    height: 34px;
    width: 374px;
}

#searchResultsContainer {
    height: 270px;
    width: 380px;
    margin: 15px 0;
}

label {
    display: inline-block;
    width: 100%;
    cursor: pointer;
}

/* Hides the 'radio' part of the radio button */
input[type="radio"]{
    display: none;
  }

.searchResult:hover {
    background-color: black;
    color: white;
}

input[type="radio"]:checked + label {
    background-color: black;
    color: white;
}

#confirmButton {
    height: 40px;
    width: 100px;
}
