.smallWeatherBox {
    width: 190px;
    height: 190px;
    border: black 7.5px solid;
    border-radius: 22.5px;
    padding: 10px 10px;
    font-family: monospace;
    font-size: 24px;
}

.topRow {
    height: 30px;
    display: flex;
    align-items: center;
}

.middleRow {
    height: 50px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.geolocationIcon {
    width: 40px;
    height: 30px;
}

.location {
    width: 150px;
    height: 30px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
}

.conditionsIcon {
    width: 50px;
    height: 50px;
}

.temperature {
    width: 140px;
    height: 50px;
    display: inline-block;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
}

.wind, .precipitation {
    width: 190px;
    height: 30px;
    margin-top: 17.5px;
    text-align: left;
    font-size: 20px;
}

.hidden {
    visibility: hidden;
}